div.square.column {
  margin: 20px 5px 30px 5px;
}

.input-field {
  border: none;
  outline: none;
  border-radius: none;
  border-bottom: 1px solid #000;
  display: block;
  margin: 15px 0 0 0;
}

.label {
  text-align: center;
  font-size: 20px;
}

.text {
  margin: 0 20px 0 0;
}

.header-title {
  font-size: 25px;
  margin: 20px 0 0 0;
}

.list {
  margin: 10px 0 0 0;
}

.footer-container {
  margin: 50px 0 0 0;
}

.footer-text {
  font-size: 18px;
  margin: 0 5px 0 5px;
}

.alert {
  padding: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  margin: 5px auto 0 auto;
  border-radius: 4px;
}

.alert-danger {
  background-color: #ff0000;
}

.alert-success {
  background-color: #008000;
}

.modal-header {
  background-color: #000;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-body {
  background-color: #000;
  padding: 30px;
}

.modal-footer {
  background-color: #000;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
